<header class="header">
    <div class="header__burger" id="menu-button"></div>
    <div class="header__menu" id="menu">
        <a href="{{ path('main_index') }}" class="header__logo">Logo</a>

        <ul class="header__menu__nav">


            <li class="header__list">
                <a class="header__link" href="{{ path('event_main') }}">Events</a>
            </li>

            <li class="header__list">
                <a class="header__link" href="#">About us</a>
            </li>
            {% if( app.user) %}
                <li class="header__list">
                    <a class="header__link" href="{{ path('event_new') }}">Créer un event</a>
                </li>
            {% endif %}
        </ul>
        <ul class="header__menu__nav">


            {% if( app.user) %}
                <li class="header__list">
                    <a class="header__link connect" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
                <li class="header__list">
                    <a class="header__link connect" href="{{ path('app_accont') }}"><i class="fas fa-user"></i></a>
                </li>
            {% else %}
                <li class="header__list">
                    <a class="header__link" href="#">S'inscrire</a>
                </li>
                <li class="header__list">
                    <a class="header__link connect" href="{{ path('app_login') }}"><i class="fas fa-user"></i></a>
                </li>
            {% endif %}


        </ul>
    </div>

</header>