{% extends 'base.html.twig' %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="contactPage">
        <div class="container">
            <h1>Form</h1>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.topic) }}
            {{ form_row(form.message) }}
            {{ form_row(form.envoyer) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
